body{
    padding:50px 0px 0px 0px;
    z-index:0;
	scroll-behavior: smooth;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	background: #fff;
}
.navbar-dark {
    background-color: #512DA8;
}
.navbar-nav {
    transition: 0.5s ease-in-out;
}
.nav-link:hover, .nav-link:focus {
    color: #fff;
    text-decoration: none;
}
a {
    transition: all 0.5s ease-in-out;
}
a:hover {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

.navbar-b {
    transition: all .5s ease-in-out;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
}
.navbar-b.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}
.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  font-weight: 600;
}
.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}
.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}
.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}
.navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
}
.navbar-b .dropdown-menu .dropdown-item:hover {
    transition: all 500ms ease;
  }
.navbar-toggler {
    position: relative;
}
  
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

/* ================= Cards ============================*/

.card-blog .card-body {
    position: relative;
  }

.card-blog {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}

.category {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .1px;
    margin-bottom: 0;
  }

.card-blog .card-title {
    font-size: 1.3rem;
    margin-top: .6rem;
}
  
.card-blog .card-description {
    color: #4e4e4e;
}

.card-blog {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  }
/* ======================================================  */
#more{
	display: none;
}
.view-btn {
    background: #9d31cc;
    background-image: -webkit-linear-gradient(top, #9d31cc, #4d2391);
    background-image: -moz-linear-gradient(top, #9d31cc, #4d2391);
    background-image: -ms-linear-gradient(top, #9d31cc, #4d2391);
    background-image: -o-linear-gradient(top, #9d31cc, #4d2391);
    background-image: linear-gradient(to bottom, #9d31cc, #4d2391);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.view-btn:hover {
    background: #c07be0;
  background-image: -webkit-linear-gradient(top, #f78ff5, #903dba);
  background-image: -moz-linear-gradient(top, #f78ff5, #903dba);
  background-image: -ms-linear-gradient(top, #f78ff5, #903dba);
  background-image: -o-linear-gradient(top, #f78ff5, #903dba);
  background-image: linear-gradient(to bottom, #f78ff5, #903dba);
  text-decoration: none;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal-header {
    background: #512DA8;
    width: 100%;
}
.modal-title {
    color: floralwhite;
}
.modal-body {
    background: #EBDEF0; 
    width: 100%;
    padding: 25px 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}
input{
    color:#022255 !important;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=radio]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=button]:focus,
input[type=tel]:focus,
input[type=checkbox]:focus{
    box-shadow: 0 0 5px #512DA8;
    border: 1px solid #512DA8;
}
#feedback:focus {
    box-shadow: 0 0 5px #512DA8;
    border: 1px solid #512DA8;
}
#con2:focus {
    box-shadow: 0 0 5px #512DA8;
    border: 1px solid #512DA8;
}
.control-label {
    text-align: left !important;
    padding-bottom: 4px;
}
.progress {
    height: 3px !important;
}
.form-group {
    margin-bottom: 10px;
}
.show-pass{
    position: absolute;
    top:5%;
    right: 8%;
}
.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}
.login-btn{
    width: 180px !important;
    background-image: linear-gradient(to right,#512DA8 ,#512DA8) !important;
    font-size: 18px;
    margin: 0 auto 5px;
    padding: 8px 0; 
}
.login-btn:hover{
    background-image: linear-gradient(to right, #512DA8 , #512DA8)!important;
    color: #fff !important;
}
.fa-eye{
    color: #022255;
    cursor: pointer;
}
.ex-account p a{
    color: #512DA8;
    text-decoration: underline;
}
.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}

.jumbotron{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
}
.row-header{
    margin:0px auto;
    padding:0px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.carousel {
    background: #512DA8;
    border-radius: 8px;
}
.carousel-item {
    height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
}
@media screen and (max-width: 360px){
    font-size: 80%;
}
@media screen and (max-width: 290px){
    font-size: 50%;
}
#con {
    display: none;
}