body{
    padding:50px 0px 0px 0px;
    z-index:0;
	scroll-behavior: smooth;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	background: #fff;
}
.navbar-dark {
    background-color: #512DA8;
}
.navbar-nav {
    transition: 0.5s ease-in-out;
}
.nav-link:hover, .nav-link:focus {
    color: #fff;
    text-decoration: none;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal-header {
    background: #512DA8;
    width: 100%;
}
.modal-title {
    color: floralwhite;
}
.modal-body {
    background: #EBDEF0; 
    width: 100%;
    padding: 25px 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}
input{
    color:#022255 !important;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus{
    box-shadow: 0 0 5px #512DA8;
    border: 1px solid #512DA8;
}
.control-label {
    text-align: left !important;
    padding-bottom: 4px;
}
.progress {
    height: 3px !important;
}
.form-group {
    margin-bottom: 10px;
}
.show-pass{
    position: absolute;
    top:5%;
    right: 8%;
}
.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}
.login-btn{
    width: 180px !important;
    background-image: linear-gradient(to right,#512DA8 ,#512DA8) !important;
    font-size: 18px;
    margin: 0 auto 5px;
    padding: 8px 0; 
}
.login-btn:hover{
    background-image: linear-gradient(to right, #512DA8 , #512DA8)!important;
    color: #fff !important;
}
.fa-eye{
    color: #022255;
    cursor: pointer;
}
.ex-account p a{
    color: #512DA8;
    text-decoration: underline;
}
.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}

.jumbotron{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
}
.row-header{
    margin:0px auto;
    padding:0px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.carousel {
    background: #512DA8;
    border-radius: 8px;
}
.carousel-item {
    height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
}
@media screen and (max-width: 360px){
    font-size: 80%;
}
@media screen and (max-width: 290px){
    font-size: 50%;
}