<%- include('partials/header') %>
    <nav class="navbar navbar-b navbar-trans navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand" href="#"><a class="navbar-brand mr-auto" href="/"><img src="images/logo.png" height="45"></a></a>
             <!--Collapse-->
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    <li class="nav-item "><a class="nav-link " href="/about"><span class="fa fa-info fa-lg"></span> About</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/menu"><span class="fa fa-list fa-lg"></span> Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="jumbotron" style="background-color:#9575CD;">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Ristorante con Fusion</h1>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="images/logo.png" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Menu</li>
            </ol>
            <div class="col-sm-2">
                <h3>Menu</h3>
                <hr>
             </div>
        </div>
        <div class="row row-content">
            <div class="col-12 col-md-4 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/baked-chilli-jacket-potatoes.webp" alt="baked-chilli-jacket-potatoes" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Baked chilli jacket potatoes</a></h3>
                        <p class="card-description">
                            Perfect your spud technique then pile our filling ideas high.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/mexican-chicken-burger_1-b5cca6f.webp" alt="Mexican-chicken-burger" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Mexican chicken burger</a></h3>
                        <p class="card-description ">
                            Discover our best burger recipes, with everything you'll ever need to put inside a bun,
                            from juicy beef patties, to miso, chicken, turkey and veggie burgers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/stuffed-pasta-bake-bolognese-2a0e5e3.webp" alt="Stuffed-pasta-bake-bolognese" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Stuffed pasta bake bolognese</a></h3>
                        <p class="card-description">
                            Serve up a hearty pasta bake topped with melted cheese.
                            These comforting dishes include lasagne, mac 'n' cheese and sausage pasta bake.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-md-4 col-12 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/uthappizza.png" alt="Uthappizza" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Uthappizza</a></h3>
                        <p class="card-description">
                            A unique combination of Indian Uthappam (pancake) and
                            Italian pizza, topped with Cerignola olives, ripe vine
                            cherry tomatoes, Vidalia onion, Guntur chillies and
                            Buffalo Paneer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/elaicheesecake.png" alt="Elaicheesecake" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Elaicheesecake</a></h3>
                        <p class="card-description">
                            Featuring mouthwatering combinations with a choice of five different salads,
                            six enticing appetizers, six main entrees and five choicest desserts.
                            Free flowing bubbly and soft drinks. All for just $19.99 per person
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/buffet.png" alt="Buffet" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Buffet</a></h3>
                        <p class="card-description">
                            Featuring mouthwatering combinations with a choice of five different salads,
                            six enticing appetizers, six main entrees and five choicest desserts.
                            Free flowing bubbly and soft drinks. All for just $19.99 per person
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-md-4 col-12 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/vadonut.png" alt="Buffet" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Vadonut</a></h3>
                        <p class="card-description d-none d-sm-block">
                            Featuring mouthwatering combinations with a choice of five different salads,
                            six enticing appetizers, six main entrees and five choicest desserts.
                            Free flowing bubbly and soft drinks. All for just $19.99 per person
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 card-content">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="images/zucchipakoda.png" alt="Buffet" width="80%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Zucchipakoda</a></h3>
                        <p class="card-description d-none d-sm-block">
                            Featuring mouthwatering combinations with a choice of five different salads,
                            six enticing appetizers, six main entrees and five choicest desserts.
                            Free flowing bubbly and soft drinks. All for just $19.99 per person
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>