<%- include('partials/header') %>
<div id="loginModal" role="dialog">
    <div class="modal-dialog modal-md" role="content">
        <div class="modal-content content">
            <div>
                <h1 class="text-center">Oops Something Went wrong.🤔</h1>
                <h2 class="text-center"><a href="/login">Please try again</a></h2>
            </div>
        </div>
    </div>
</div>